*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(image/homeback.jpg);
    background-size: cover;
   
}
.toggle{
    font-size: 30px;
    cursor: pointer;
    color: white;
    float: left;
    line-height: 45px;
    margin-left: 5%;
    display: none;
}

nav{
    height: 45px;
    background-color:black;
    width: 100%;
}

.navigation{
    margin-left: 5%;
    float: left;
}

.social-ico{
    float: right;
    margin-right: 5%;
}

.navigation li{
    display: inline-block;
}

.navigation li a{
    line-height: 45px;
    padding: 0px 10px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
}

.navigation li:nth-child(1){
    background-color: chocolate;
}

.navigation li:hover{
    background-color: chocolate;
}

.social-ico{
    padding: 13px;
}

.ico-social a{
    padding: 0px 10px;
    color: white;
}

.ico-social a:hover{
    color: chocolate;
}

@media screen and (max-width: 1000px){
    .toggle{
        display: block;
    }
    .navigation{
        position: fixed;
        top: 45px;
        right: 0;
        left: -600px;
        z-index: -1;
        width: 200px;
        background-color: black;
        transition: left .4s;
        margin: 0;
    }
    .navigation.show{
        top: 45px;
        left: 0px;
        margin: 0;
    }
    .navigation li{
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 500px){
    .navigation{
        width: 100%;
    }
}

/* form */

form{
    color: white;
    font-size: 20px;
    margin-top: 40px;
    margin: 30px 0px;
}
.form{
    display: flex;
    justify-content: center;
}
table{
    background-color:rgb(42, 25, 42);
    display: flex;
    padding: 20px 20px;
    border-radius: 20px;
    flex-direction: column;
}
tr{
    margin: 10px 0px;
}
.value{
    height: 100px;
    width: 200px;
}
.value input{
    height: 30px;
}
.value textarea{
    height: 60px;
} 
button{
    height: 30px;
    width: 70px;
    font-size: 15px;
    font-weight: 800;
    border-radius: 10px;
    background-color: rgb(255, 166, 0);
    border: 0;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button:hover{
    background-color:pink;
    cursor: pointer;
}